[submodule "inputs/spicetify"]
	path = inputs/spicetify
	url = https://github.com/spikespaz/spicetify-nix
[submodule "inputs/hyprland"]
	path = inputs/hyprland
	url = https://github.com/hyprwm/Hyprland
