[submodule "inputs/webcord"]
	path = inputs/webcord
	url = https://github.com/spikespaz/webcord-flake
[submodule "inputs/homeage"]
	path = inputs/homeage
	url = https://github.com/spikespaz/homeage
[submodule "inputs/spicetify"]
	path = inputs/spicetify
	url = https://github.com/spikespaz/spicetify-nix
