/* IMPORT STYLESHEETS */

@import "./css/small_tabs.css";
@import "./css/urlbar.css";
/* @import "./treestyletab.css"; */
@import "./css/hide_bookmarks_bar.css";

/** BEGIN MISC */

/* KEEP TABS VISIBLE IN FULLSCREEN */

[inFullscreen=true] #TabsToolbar {
    visibility: visible !important;
}

/* HIDE THE SIDEBAR WHEN FULLSCREEN */

[inFullscreen=true] #sidebar-box,
[inFullscreen=true] #sidebar-splitter,
[inFullscreen=true] #sidebar-button {
    display: none;
}

/* DECREASE HEIGHT OF BOOKMARK BAR BUTTONS */

:root[uidensity="compact"] {
    --bookmark-block-padding: 2px !important;
}
