* {
    all: unset;
    font-family: Ubuntu, "Material Design Icons";
    font-size: 10pt;
    color: #ebdbb2;
}

#clock,
#backlight,
#network,
#bluetooth,
#battery {
    padding-left: 8px;
    padding-right: 8px;
}

window#waybar {
    background: #1d2021;
    border-bottom: 1px solid #3c3836;
}

tooltip {
    background: #282828;
    border-radius: 5px;
    border: 1px solid #665c54;
}

#clock.time {
    font-weight: bold;
}

#workspaces button {
    border-top: 2px solid transparent;
    transition:
        border-color 300ms ease-in,
        background 300ms ease-in;
}

#workspaces button label {
    margin-top: -2px;
}

#workspaces button.active {
    background: #3c3836;
    border-color: #fe8019;
    transition:
        border-color 600ms ease-out,
        background 600ms ease-out;
}

@keyframes blink-warning {
    0% {
        background: transparent;
    }

    50% {
        background: #d65d0e;
        color: #fbf1c7;
    }
}

@keyframes blink-urgent {
    0% {
        background: transparent;
    }

    50% {
        background: #cc241d;
        color: #fbf1c7;
    }
}

#workspaces button.urgent {
    animation-name: blink-urgent;
    animation-duration: 1.5s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#battery.battery-30 {
    animation-name: blink-warning;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

#battery.battery-20 {
    animation-name: blink-urgent;
    animation-duration: 1.75s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

#battery.battery-10 {
    animation-name: blink-urgent;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

@keyframes inhibitor-active {
    0% {
        background: #3c3836;
    }

    70% {
        background: #d79921;
        color: #fbf1c7;
    }

    100% {
        background: #d79921;
        color: #fbf1c7;
    }
}

#idle_inhibitor.activated {
    animation-name: inhibitor-active;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
}
