* {
    all: unset;
    font-family: Ubuntu;
    font-size: 10pt;
    color: #ebdbb2;
}

#backlight,
#network,
#bluetooth,
#battery {
    padding-left: 8px;
    padding-right: 8px;
}

window#waybar {
    background: #1c1c1c;
}
