$default-foreground: #ebdbb2;
$highlight-foreground: #fbf1c7;

* {
  all: unset;
  font-family: Ubuntu, "Material Design Icons";
  font-size: 10.5pt;
  color: $default-foreground;
}

@mixin oscillate-highlight($function, $stop, $background, $duration) {
  $name: inline-#{unique-id()};

  @keyframes #{$name} {
    #{$stop} {
      background: $background;
      color: $highlight-foreground;
    }
  }

  animation-name: $name;
  animation-duration: $duration;
  animation-iteration-count: infinite;
  animation-timing-function: $function;
}

@mixin breathe-highlight($background, $duration) {
  @include oscillate-highlight(ease-in-out, 50%, $background, $duration);
}

@mixin pulse-highlight($stop, $background, $duration) {
  @include oscillate-highlight(ease-out, $stop, $background, $duration);
}

@mixin indicate-active($color, $selector) {
  transition:
    box-shadow 300ms ease-in,
    background 300ms ease-in;

  #{$selector} {
    transition:
      box-shadow 600ms ease-out,
      background 600ms ease-out;
    box-shadow: 0 2px 0 0 $color inset;
    background: #3c3836;
  }
}

#clock,
#backlight,
#network,
#bluetooth,
#cpu,
#pulseaudio,
#memory,
#battery,
#idle_inhibitor,
#window {
  padding-left: 8px;
  padding-right: 8px;
}

window#waybar {
  background: #1d2021;
  border-bottom: 1px solid #3c3836;
}

tooltip {
  background: #282828;
  border-radius: 5px;
  border: 1px solid #665c54;
}

#clock.time {
  font-weight: bold;
}

#workspaces {
  button {
    min-width: 26px;

    @include indicate-active(#f38019, "&.active");

    &.urgent {
      animation-delay: 5s;
      @include pulse-highlight(10%, #458588, 1.5s);
    }
  }
}

#bluetooth {
  @include indicate-active(#458588, "&.on");
  @include indicate-active(#98971a, "&.connected");

  &.on {
    @include breathe-highlight(#458588, 5s);
  }

  // &.discoverable {
  //   @include breathe-highlight(#b16286, 5s);
  // }

  // &.discovering {
  //   @include breathe-highlight(#b16286, 5s);
  // }

  // &.pairable:not(.connected) {
  //   @include breathe-highlight(#b16286, 5s);
  // }
}

#battery {
  &.battery-30:not(.charging) {
    @include breathe-highlight(#d64d0e, 10s);
  }

  &.battery-20:not(.charging) {
    @include pulse-highlight(10%, #d64d0e, 5s);
  }

  &.battery-10:not(.charging) {
    @include pulse-highlight(30%, #cc241d, 750ms);
  }
}

#idle_inhibitor {
  @include indicate-active(#d79921, "&.activated");

  &.activated {
    @include pulse-highlight(10%, #d79921, 5s);
  }
}

#pulseaudio.warning {
  @include breathe-highlight(#cc241d, 10s);
}
